[project]
name = "sandbox"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "ipykernel>=6.29.5",
    "manim>=0.19.0",
    "matplotlib>=3.9.4",
    "pandas>=2.2.3",
    "scipy>=1.13.1",
]
